<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EventHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="/login" *ngIf="!_authService.loggedIn()">Login</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/register" *ngIf="!_authService.loggedIn()">Register</a>
      </li>
      <!-- <li>
        <a class="nav-link" style="cursor: pointer" routerLink="/profil" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Profil</a>
      </li> -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- <div class="dropdown" *ngIf="_authService.loggedIn()">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </div> -->

      <!-- <div class="dropdown show" *ngIf="_authService.loggedIn()">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </div> -->

      <!-- Example split danger button -->
      <div class="btn-group" *ngIf="_authService.loggedIn()">
        <button type="button" class="btn btn-outline-secondary">My profil</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
          <a class="dropdown-item" href="#">Action 3</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Special Action </a>
        </div>
      </div>

      <li>
        <a class="btn btn-outline-secondary" style="cursor: pointer" routerLink="/register"
          *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb default-color">
            <li class="breadcrumb-item active">Home</li>
          </ol>
        </nav>
      
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb primary-color">
            <li class="breadcrumb-item"><a class="white-text" href="#">Home</a></li>
            <li class="breadcrumb-item active">Library</li>
          </ol>
        </nav> -->


<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb secondary-color">
          <li class="breadcrumb-item"><a class="white-text" href="#">Home</a></li>
          <li class="breadcrumb-item"><a class="white-text" href="#">Library</a></li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav> -->
  <router-outlet></router-outlet>
</div>
